# Archivos de sistema
.DS_Store
Thumbs.db

# Backend (Spring Boot / Maven)
backend/target/
backend/.mvn/
backend/*.jar
backend/*.war

# Frontend (React / Node)
frontend/node_modules/
frontend/dist/
frontend/.env

# Configuración local
.env
.idea/
.vscode/

postgres_data/
target/
node_modules/
.env